{% set request = request %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Open Graph / Twitter Card -->
  <meta property="og:title" content="따숲 | DDASUP">
  <meta property="og:image"
        content="{{ url_for('static', filename='images/ddasup_logo_v1.jpeg', _external=True) }}">
  <meta property="og:url" content="{{ request.url }}">
  <meta name="twitter:card" content="summary_large_image">

  <title>따숲 | DDASUP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
