{% extends "base.html" %}
{% block content %}
<section style="padding:4rem 0">
  <div class="container">
    <h1 class="card__title text-green-strong" style="margin-bottom:1.5rem">
      불끄미 – 스틱형 프로토타입 회로도<br><br>
       <img src="{{ url_for('static', filename='images/ddasup_prototype.jpg') }}" alt="스틱형 내부 프로토타입" style="width:100%; max-width:400px; margin-bottom:2rem; border-radius:1rem;"><br>
    </h1>



    <!-- ▶︎ Tinkercad 시뮬레이션 iframe ◀︎ -->
    <div style="position:relative; padding-top:56.25%; overflow:hidden; border-radius:8px; margin-bottom:2rem;">
  <iframe src="https://www.tinkercad.com/embed/deb9RJIl9NA?sharecode=nFAEXw5Lr7zRm36rTlZd5231O2F_HZVzZVrK9OFnBrI"
          style="position:absolute; inset:0; width:100%; height:100%; border:0;"
          allowfullscreen
          loading="lazy">
  </iframe>

</div>

  <p class="text-green-soft" style="margin-bottom:2rem;">위 시뮬레이터에서 실시간으로 센서를 조작해 보세요.</p><br>
    <p class="text-green-soft" style="margin-bottom:2rem;">시뮬레이션 링크: https://www.tinkercad.com/things/deb9RJIl9NA-?sharecode=nFAEXw5Lr7zRm36rTlZd5231O2F_HZVzZVrK9OFnBrI</p>

    <a href="{{ url_for('product_stick') }}" class="btn">스틱형 소개로 돌아가기</a><br><br>
    <p>&copy; 따숲</p>
  </div>
</section>
{% endblock %}
